# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List the prpular programming languages in data science
- List the commonly used libraries in data science
- List  the commonly used  data science tools
- Show example arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. C++
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy 
3. Pandas
4. Matplotlib

|Data Science Tools|
|------------------|
|R Studio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Carl Shotwell